{% extends 'base.html' %}

{% block query %}
  <div class=" container starter-template">
    <h1>Message de réinitialisation</h1>
  </div>
{% endblock %}

{% block section_content %}
  <div class="row">
    <p class="reset paragraph">
      Nous vous avons envoyé des instructions pour définir votre mot de passe, si un compte existe avec le courrier que vous
      avez entré.
      Vous devriez les recevoir sous peu.
    </p>
  </div>
  <div class="row">
    <p class="reset paragraph">
      Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit.
      et vérifiez votre dossier de spam.
    </p>
  </div>
  
{% endblock %}