{% extends 'base.html' %}

{% block query %}
  <div class=" container starter-template">
    <h1>Réinitialisation du mot de passe</h1>
  </div>
{% endblock %}

{% block section_content %}
  <div class="row">
    <h2 class="col-xs-12">Mot de passe oublier</h2>
  </div>
  <div class="row">
    <hr class="col-lg-offset-55 col-xs-1 line">
  </div>

  <div class="row">
    <form class="col-sm-offset-4 col-sm-6 col-xs-12" method="post">
      {% csrf_token %}
      {% for field in form %}
      <p class="field-form paragraph">
        {{ field.label_tag }}
        {{ field }}
      </p>
      {% endfor %}
      <input class="btn btn-primary btn-lg submit" type="submit" value="Envoyer" />
    </form>
  </div>
  
{% endblock %}