{% extends 'base.html' %}

{% block query %}
  <div class=" container starter-template">
    <h1>Nouveau mot de passe</h1>
  </div>
{% endblock %}

{% block section_content %}
  {% if validlink %}
    <div class="row">
      <h2 class="col-xs-12">Changer le mot de passe</h2>
    </div>
    <div class="row">
      <hr class="col-lg-offset-55 col-xs-1 line">
    </div>
    
    <div class="row">
      <form class="col-sm-offset-4 col-sm-6 col-xs-12" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p class="field-form paragraph">
          {{ field.label_tag }}<br>
          {{ field }}
        </p>
        {% endfor %}
        <input class="btn btn-primary btn-lg submit" type="submit" value="Changer le mot de passe" />
      </form>
    </div>
    
  {% else %}
  <div class="row">
    <p class="reset paragraph">
      Le lien de réinitialisation du mot de passe n'était pas valide, probablement parce qu'il a déjà été utilisé.
      Veuillez demander une nouvelle réinitialisation du mot de passe.
    </p>
  </div>
    
  {% endif %}
{% endblock %}