{% extends 'base.html' %}

{% block query %}
  <div class=" container starter-template">
    <h1>Utilisateur : {{ user.username }}</h1>
  </div> 
{% endblock %}

{% block section_content %}
  <div class="row">
    <h2 class="col-xs-12">Profile de l'utilisateur : {% if comment_author %}{{ comment_author.username }}{% else %}{{ user.username }}{% endif %}</h2>
  </div>
  <div class="row">
    <hr class="col-lg-offset-55 col-xs-1 line">
  </div>

  <div class='row'>
    <p class="col-sm-offset-1 col-sm-10 col-xs-12 profile">{% for edit in edits %}{{ edit.about_me }}{% endfor %}</p>
    {% if not comment_author or user.id == comment_author.id %}
    <p class="col-sm-offset-1 col-sm-10 col-xs-12 profile">Dernière visite le : {{ user.last_login }}</p>
    <div class="col-sm-offset-3 col-sm-6 col-xs-12 profile">Adresse électronique : {{ user.email }}</div>
    <a class="col-sm-offset-3 col-sm-6 col-xs-12 edit-profile" href="{% url 'users:edit_profile' %}">
      Modifier votre profile
    </a>
    {% else %}
    <p class="col-sm-offset-1 col-sm-10 col-xs-12 profile">
      Dernière visite le : {{ comment_author.last_login }}
    </p>
    <div class="col-sm-offset-3 col-sm-6 col-xs-12 profile">
      Adresse électronique : {{ comment_author.email }}
    </div>
    {% endif %}
  </div>

  {% for comment in comments %}
      <hr>
      <div class="div-comment">
        <p class="comment">{{ comment.author }} a laissé un commentaire le {{ comment.date_added|date:"DATE_FORMAT" }} sur <a href="{% url 'catalog:detail_substitute' comment.substitute.id %}">ce produit</a> :</p><br>
        <p class="comment">{{ comment.content }}</p>
      </div>
    
  {% endfor %}
  <div
{% endblock %}